* {
   -bg-color: BLACK;
   -text-color: #99ccff;
   -fx-background-color: -bg-color;
   -fx-font-size: 12;
}

.borderedRoot {
    -fx-border-color: -text-color;
    -fx-border-width: 2;
}

/* Header box */
.headingBox {
    -fx-padding: 7 5 7 5;
    -fx-alignment: CENTER;
    -fx-border-color: -text-color;
    -fx-border-width: 0 0 1 0;
}

.borderedRoot > .subPane .label,
.borderedRoot > .subPane .button {
    -fx-text-fill: -text-color;
    -fx-font-weight: BOLD;
}

.headingBox .button,
.mediaBarPane .button {
    -fx-min-width: 50;
    -fx-min-height: 40;
    -fx-padding: 0 0 3 0;
    -fx-text-alignment: CENTER;
    -fx-border-color: -text-color;
    -fx-border-width: 1;
}

/* Media bottom bar */
.mediaBarPane {
    -fx-border-color: -text-color;
    -fx-border-width: 1 0 0 0;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    -fx-padding: 7 5 7 5;
}

.mediaBarPane .barBox {
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

.mediaBarPane .button .text {
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}
.mediaBarPane .barBoxSmallBtn {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
}
.mediaBarPane .barBoxSmallBtn .button {
    -fx-min-width: 40;
}

.mediaBarPane .label {
    -fx-min-width: 60.0;
    -fx-max-width: 50.0;
    -fx-alignment: CENTER;
}

.mediaBarPane .seekBox {
    -fx-spacing: 5;
}
.mediaBarPane .seekBox .button {
    /*-fx-font-size: 8;*/
    -fx-min-width: 50.0;
    -fx-max-width: 50.0;
}

/* sliders style */
.mediaBarPane .slider .thumb {
    -fx-background-color: -text-color;
    -fx-padding: 7 2 7 2;
}

.mediaBarPane .slider .track {
    -fx-background-color: -text-color;
    -fx-padding: 1 0 0 0;
}

.bookmarkPane {
    -fx-border-color: -text-color;
    -fx-border-width: 0 0 0 1;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

.bookmarkPane .subBox {
    -fx-alignment: CENTER;
    -fx-padding: 20;
}

.bookmarkPane .headerBox .button {
    -fx-pref-width: 120;
    -fx-pref-height: 50;
    -fx-border-width: 1;
    -fx-border-color: -text-color;
}

.bookmarkPane .text {
    -fx-font-size: 14;
}
.bookmarkPane .button .text {
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}
.bookmarkPane .customGrid .button .text {
    -fx-font-size: 14;

}
.bookmarkPane .customGrid .button {
    -fx-background-color: PINK;
    -text-color: BLACK;
}

.bookmarkPane .customGrid .cellBox {
    -fx-alignment: CENTER;
}




.bookmarkPane .customGrid {
    -fx-hgap: 15;
    -fx-vgap: 15;
}
